@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shadows+Into+Light&display=swap');

* {
  margin: 0px;
  padding: 0px;
}


body {
  width: 100%;
  background: #2A3845;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: .2rem;
}

nav {
  z-index: 10;
  position: fixed;
  font-size: .8em;
  margin-left: 20px;
  margin-top: 5px;
  text-align: center;
}

.pizza-haiku {
  margin-top: 30px;
}

.portfolio-container {
  display: grid;
  justify-content: center;
  align-items: center;
}


div>h2 {
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
  
}
div>img {
  width: 90vw;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 9px floralwhite;
}

img:active {
  transform:scale(.8);
  box-shadow: none;
  border: none;
}


a {
  text-decoration: none;
  color: aliceblue;
}

a:visited {
  color: aliceblue;
}


/* Medium devices (landscape tablets, 750px and up) */
@media only screen and (min-width: 750px) {
   
  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: end;
    margin: 12px auto;
    letter-spacing: .3rem;
    width: 100;
}

 
 div>img {
  display: grid;
  object-fit: cover;
  width: 350px;
  height: 350px;
  margin: 3px 8px;  
  border: none;  
}

  nav {
  margin-left: 50%;
  
}
  
}

/* Medium devices (1050px and up) */
@media only screen and (min-width: 1050px) {
   div>img {
    display: grid;
    object-fit: cover;
    width: 500px;
    height: 500px;
    margin: 10px 20px;  
}
  
nav {
  margin-left: 50%;
  font-size: .9em;

}

}

/* Medium devices (1050px and up) */
@media only screen and (min-width: 1250px) {
  
nav {
  font-size: 1.1em;
  
}

  

}
