* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #2A3845;
}

body {
  width: 100%;
       
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
   
}

h2 {
  color: white;
}

.about-me>h2 {
 margin-top: 5px; 
  
}

div > img {
  width: 90vw;
  margin: 5px 15px;
  border-radius: 10px;
  border: 1px dashed white;
  }

img:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/**************** PET GALLERY *******************/

.pet-gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
   
}

.pet {
  margin: 5px 10px;
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 940px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}



                                            