@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shadows+Into+Light&display=swap');

html {
  display: block;

}

body {
  width: 100%;
  height: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 200;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #2A3845;
       
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
   
}

h2 {
  color: white;
  letter-spacing: .3rem;
}

p {
  display: none;
}

.about-me>h2 {
 margin-top: 5px; 
 text-align: right; 
}

.pets>h2 {
  text-align: right; 
}

div > img {
  width: 90vw;
  margin: 5px 15px;
  border-radius: 10px;
  border: 1px dashed white;
  }

img:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/**************** PET GALLERY *******************/

.pet-gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
   
}

.pet {
  margin: 5px 10px;
}



/* Medium devices (landscape tablets, 650px and up) */
@media only screen and (min-width: 650px) {

  
  .container {
    display: grid;
    grid-template-areas:
     "atext about"
     "portfolio btext"
     "ctext pets";
}
  
  h2 {
    display: none;
  }
  
 .about-me-text {
   display: grid;
   grid-area: atext; 
   width: 100%;

 }
  .about-me {
    grid-area: about;
     width: 100%;
  }

   .portfolio-text {
   display: grid;
   grid-area: btext; 
   width: 100%;

 }
  .portfolio {
    grid-area: portfolio;
     width: 100%;
  }

  .pets-text {
   display: grid;
   grid-area: ctext; 
   width: 100%;

 }
  .pets {
    grid-area: pets;
    width: 100%;
  }
  
  p {
    display: block;
    justify-self: center;
    align-self: center;
    padding: 50px;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1rem;
    line-height: 2;
    font-size: 2rem;
    margin: 150px;
  }

div > img {
  border: none;
  margin: 30px 20px;
  bordar-radius: 10px;
}
  
  
  
}




                                            