* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html, body {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
/*     background-color: #2A3845; */
    grid-template-areas:
        "aboutme"
        "portfolio"
        "mypets";   
    grid-gap: 10px;
    width: 600px;
    margin: auto;
}

.h1-aboutme {
    grid-area: 1 / 1 / 2 / 2; /* row/start column start position / row end /column end position */
    color: white;
    z-index: 5;
    align-self: start;
}

.h1-portfolio {
    grid-area: 2 / 1 / 3 / 2; 
    color: red;
    z-index: 5;
    align-self: start;
    opacity: 0;
}

.h1-portfolio:hover {
    opactiy: 1;
    
}

img {
    width: 100%;
    height: auto;
        
}

.aboutme {
    grid-area: aboutme;
}

.portfolio {
    grid-area: portfolio;
    
}

.portfolio > img {
    height: 75vh;
    object-fit: cover;
}

.mypets {
    grid-area: mypets;
}



/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        
        grid-template-areas: 
            "portfolio aboutme"
            "portfolio aboutme"
            "portfolio mypets"
            "portfolio mypets";
    }   

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 940px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}



                                            